
.container{
    display: flex;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    align-content: center;
    justify-content: center;
}

.card{
    background-color: hsl(216, 50%, 16%);
    /* display: flex; */
    flex-direction: column;
    width: calc(100% - 1000px);
    padding: calc(100% - 1300px);
    border-radius: 10px;
    margin-top: 7%;
    margin-bottom: 7%;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
}

#nft{
    width: calc(100% - 30px);
    margin-left: 5%;
}

h2, p, h3{
    font-family: 'Outfit', sans-serif;
}

h2{
    color: hsl(0, 0%, 100%);
    text-align: center;
}

p, h3{
    color: hsl(215, 51%, 70%);
}

p{
    font-size: 20px;
    display: inline-block;
}

.value, .time{
    display: inline-block;
}

.time{
    padding-left: 33%;
}
/* #ethereum, #price, #clock, #timeLeft{
    width: 50%;
    display: inline-block;
} */

#ethereum{
    width: 10%;
}

#clock{
    width: 15%;
}

hr{
    width: 100%;
}

.creator{
    width: 100%;
}

#perfil, #signature{
    display: inline-block;
    margin-top: 5%;
}

#perfil{
    width: calc(100% - 300px);
    padding-right: 5%;
    /* margin-left: 45px; */
}

#name{
    color: hsl(0, 0%, 100%);
}