
body{
    display: flex;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
    align-items: center;
    justify-content: center;
}

.card{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-flow: wrap column ;
    width: 20%;
    padding: 3%;
    border-radius: 10px;
}

#nft{
    width: calc(100% - 5px);
    align-self: center;
}

h1, h2, p, h3{
    font-family: 'Outfit', sans-serif;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 170%;
    text-align: center;
}

h2, p, h3{
    color: hsl(215, 51%, 70%);
}

h2{
    font-size: 18px;
}

p{
    font-size: 18px;
}

.description{
    text-align: center;
}

.value{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#ethereum{
    width: 5%;
}

#clock{
    width: 8%;
}

hr{
    width: 100%;
}

.creator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#perfil{
    width: 13%;
    height: 13%;
    align-self: center;
}

#name{
    color: hsl(0, 0%, 100%);
}